# =========================================================================== #
# NutriScan AI — requirements.txt
# =========================================================================== #

streamlit>=1.33
streamlit-cropper>=0.2.2

# Model Donut
torch==2.9.0
transformers==4.48.3
accelerate>=1.8,<2.0
sentencepiece>=0.2,<0.3
protobuf>=5.0,<6.0
huggingface_hub>=0.23

easyocr>=1.7.1,<2.0

pillow>=10.0
numpy>=1.24
pandas>=2.0
